numpy
websockets>=15,<16
scipy
tensorboard
librosa
numba
pytorch-lightning>=2.4
ffmpeg-python
onnxruntime; platform_machine == "aarch64" or platform_machine == "arm64"
onnxruntime-gpu; platform_machine == "x86_64" or platform_machine == "AMD64"
tqdm
funasr
cn2an
pypinyin
pyopenjtalk>=0.4.1
g2p_en
torchaudio
modelscope
sentencepiece
transformers
peft
chardet
PyYAML
psutil
jieba
split-lang
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
ToJyutping 
g2pk2
ko_pron
python_mecab_ko; sys_platform != 'win32'
fastapi[standard]>=0.115.2
x_transformers
torchmetrics
pydantic>=2.12,<3.0
ctranslate2
av>=11
# opencc
# opencc-python-reimplemented
ffmpeg-python
faster-whisper
modelscope
funasr
pypinyin
ko_pron
fast_langdetect
split-lang
cn2an